section.col-md-3
  h2 Current session
  ul.list-group
    li.list-group-item
      p Waiting for data...
      p Logging starts when the first stroke is logged.
      p Logging finishes when no strokes are recorded for 10 seconds.
