article
  h3.visually-hidden Current
  .card
    .progress
      .indeterminate
    .card-content
      p Start rowing to begin recording a new session.
    .card-reveal
      p Logging ends 10 seconds after the last stroke is recorded.