section.col-md-3
  h2 Current session
  article.mdl-card.mdl-shadow--2dp.no-trim
    div.mdl-progress.mdl-js-progress.mdl-progress__indeterminate
    div.mdl-card__supporting-text
      p Start rowing to begin the session
      p Logging ends 10 seconds after the last stroke is recorded.