.navbar-fixed
  nav
    .nav-wrapper.container
      a.brand-logo(href='/')
        span Row
        span.italic logger
      ul.right.hide-on-med-and-down
        if !user
          li
            a(href='/login') Login
          li
            a(href='/signup') Sign up
        else
          li
            a(href='/account') My account
          li
            a(href='/logout') Logout
