.card
  .card-content
      table.responsive-table
        thead
          tr
            th Total distance
            th Total time
        tbody
          tr
            td #{rowingDataHelpers.metrestoKmString(userRowingTotalMetres)}
            td #{dateTimeHelpers.millisToDuration(userRowingTotalTime)}
  .card-content
    p Next target: River Aire (112 km)
    canvas#data-chart.js-data-chart(width="400" height="400" data-chart-type='rowingDistanceDoughnutChart' data-progress=userRowingTotalMetres data-total=112000)
