.centre-wrapper {
	text-align: center;
	.centre-child {
		margin: 0px auto;
	}
}

.page-background {
	position: fixed;
	bottom: 0;
	z-index: -1;
}

.progress {
	margin: 0;
}

.italic {
	font-style: italic;
}

.plain {
	margin: 0;
}

.visually-hidden {
	position: absolute; 
  	overflow: hidden; 
  	clip: rect(0 0 0 0); 
  	height: 1px; width: 1px; 
  	margin: -1px; padding: 0; border: 0;
}

.btn-floating {
	.svg-icon {
		height: 50%;
	    width: 50%;
	    margin-top: 25%;
	    margin-left: 25%;
	    fill: white;
	}
}

.loading-container {
	text-align: center;
}