extends layout

block content

  if user
    article.row
      section.col.s12.m3.current-session
        +icon('#rowing-machine')
        include partials/currentSession
      section.col.s12.m9
        h3 Recent
        include partials/statsTable
        p
          a.waves-effect.waves-light.btn(href='/sessions') View all sessions
  else
    div.col.s2
      +icon('#arduino')
    div.col.s2
      +icon('#node.js')