extends layout

block content

  if user
    article.row
      include partials/currentSession
      include partials/recentStats
  else
    div.col-md-2
      +icon('#arduino')
    div.col-md-2
      +icon('#node.js')