@import "lib/materialize/materialize";
@import "icons";
@import "modules/header/header-base";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

h1, h2, h3, h4 {
  color: $primary-color;
}