@import "lib/materialize/materialize";
@import "modules/vendor/vendor-base";
@import "modules/shared/shared-base";
@import "modules/icons/icons-base";
@import "modules/header/header-base";
@import "modules/forms/forms-base";

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

h1, h2, h3, h4 {
  color: $primary-color;
  margin-top: 0;
}