@import "modules/vendor/vendor-base";
@import "modules/shared/shared-base";
@import "modules/icons/icons-base";
@import "modules/header/header-base";
@import "modules/forms/forms-base";

header {
	padding: 0px 40px !important;
	max-width: 1600px;
}

main {
	margin: 40px auto 0px auto;
	padding: 0px 40px;
	max-width: 1600px;
}

textarea {
  resize: vertical;
}

table {
	table-layout: fixed;
}